.links line {
  stroke: #e2e6e9;
  stroke-opacity: 0.3;
}

.nodes circle {
  stroke: #211e1e;
  stroke-width: .1px;
}

body{
  background-color: #4e5965;
}



.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(9,15,15,.6);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }

 /*Creates a small triangle extender for the tooltip*/
   .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(9,15,15,.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* dropdown styling */
.shiny-input-container{
  width: 50%;
  margin: 0 auto;
}
.selectize-control{
  width: 50%;
  margin: 0 auto;
}

.selectize-input.full{
  background-color: 	#D3D3D3;
  color: black;
  text-align: center;
  font-weight: bold;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: 	#D3D3D3;
    cursor: text;
    display: inline-block;
}
select{
  background-color: #D3D3D3;
}
.selectize-dropdown{
  background-color: #D3D3D3;
  color: black;
  text-align: center;
}
